.Post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid teal;
  padding: 10px;
}

.name-wrap {
  display: flex;
}

.name {
  padding: 0px 5px;
}
